<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218557548336-f1it3p7ct7bgheq4ttkjl7l81idjgvf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218557548336-f1it3p7ct7bgheq4ttkjl7l81idjgvf6</string>
	<key>API_KEY</key>
	<string>AIzaSyDeHd4vRjz3pierW5AIUvRi29P3MrJvyH0</string>
	<key>GCM_SENDER_ID</key>
	<string>218557548336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ivanoff.K.Tinder-Copy</string>
	<key>PROJECT_ID</key>
	<string>tinder-copy-d351c</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-copy-d351c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218557548336:ios:40050ceb3e8d9389</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-copy-d351c.firebaseio.com</string>
</dict>
</plist>